[user]
  name = Ludvig Persson
  email = ludvig.lp.persson@gmail.com
[push]
  default = simple
[alias]
  st = status
  pb = pull --rebase --prune
  ci = commit
  co = checkout
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  prune-local-master = !git branch --merged master | grep -v 'master$' | xargs git branch -d
  out = !git log origin/$(git rev-parse --abbrev-ref HEAD)..
